* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: hsla(0, 0%, 100%, 0.75);
}

body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}
.preview-container {
  display: flex;
  width: 66%;
  padding: 10px;
}

img {
  width: 60px;
}
h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 36px;
  font-style: normal;
  padding: 10px 0px;
  margin-bottom: -20px;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}

.sedans,
.suvs,
.luxury {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
}

.sedans {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.luxury {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

p {
  font-size: 15px;
  line-height: 1.5rem;

  padding-bottom: 3.5rem;
}
button {
  border: none;
  background-color: hsl(0, 0%, 95%);
  width: 75%;
  border-radius: 30px;
  font-size: 17px;
  padding: 1rem 0.5rem;
}

.sedans button {
  color: hsl(31, 77%, 52%);
}
.suvs button {
  color: hsl(184, 100%, 22%);
}
.luxury button {
  color: hsl(179, 100%, 13%);
}
button:hover {
  background-color: transparent;
  outline: 2px solid hsl(0, 0%, 95%);
  color: white;
  cursor: pointer;
}

/* --------------------------- */

@media only screen and (max-width: 375px) {
  .preview-container {
    margin-top: 3.5rem;
    margin-bottom: 4.5rem;
    flex-direction: column;
    min-width: 92%;
  }
  .sedans {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
  .luxury {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  button {
    width: 66%;
    padding: 0.9rem 0.5rem;
    font-size: 15px;
  }
  p {
    padding-bottom: 0.5rem;
  }
}
